spring:
  datasource:
    url: jdbc:mysql://localhost:3306/student
    username: ${DB_USERNAME:appuser}
    password: ${DB_PASSWORD:}

  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        show_sql: false
